@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Joan', cursive;
    font-size: 16px;
    background: #ffdb3b;
}

a{
    text-decoration: none;
    color: #f07;
}

.page{
    width: 80%;
    border-radius: 20px;
    background-color: #f6f6f6;
    margin: 160px auto;
    padding: 30px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

h1{
    font-size: 500%;
}

h2{
    margin-top: 30px;
}

.link{
    color: #5a5a5a;
}
.link span{
    font-size: 150%;
    /* color: #f07; */

}


.c1 span {color: #c84f4f;}
.c2 span {color: #b7c350;}
.c3 span {color: #59c349;}
.c4 span {color: #52cea9;}
.c5 span {color: #4a91c7;}
.c6 span {color: #724cc4;}
